
  <div class="sidebar">
    <div class="logo-details">

  <div style="margin: auto;font-family: initial;font-weight: bold;font-size: 40px;">
    <span style="color: #E68;font-size: 60px;">
      MY</span><span style="color: #4DAAA7;" >S</span><span style="color: #4DAAA7;">TORE</span>
  </div>
    </div>
      <ul class="nav-links" style="margin-top: 50px;">
        <li>
          <a  routerLink="/EspaceAdmin/profile">


            <i class='bx bx-box' ></i>

            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/EspaceAdmin/clients">
            <i class='bx bx-user' ></i>
            <span class="links_name">Gérer Les Clients</span>
          </a>
        </li>
        <li>
          <a routerLink="/EspaceAdmin/articles">
            <i class='bx bx-list-ul'  ></i>
            <span class="links_name">Gérer Les Articles</span>
          </a>
        </li>
        <li>
          <a routerLink="/EspaceAdmin/factures" >
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Gérer Les Factures</span>
          </a>
        </li>
        <li>
          <a  routerLink="/EspaceAdmin/employees">
            <i class='bx bx-user' ></i>
            <span class="links_name">Gérer Les Employees</span>
          </a>
        </li>
        <li>
          <a routerLink="/EspaceAdmin/couts">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Gérer Les couts</span>
          </a>
        </li>


      </ul>
  </div>
